<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">

    <appender name="File" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="PaymentCracker.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p] [%-20t] [%c] - %m [%-30throwable] %n" />
        </layout>
    </appender>

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="Cp866"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p] [%-20t] [%c] - %m [%-30throwable] %n" />
        </layout>
    </appender>

    <appender name="test2" class="org.apache.log4j.FileAppender">
        <param name="File" value="test2.log"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-16.16t][%32.32c] - %m%n" />
        </layout>
    </appender>

    <appender name="ConsoleRoot" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="Cp866"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%-5p] [%-20t] [%c] - %m [%-30throwable] %n" />
        </layout>
    </appender>

    <logger name="payment" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="Console"/>
    </logger>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="ConsoleRoot" />
    </root>

</log4j:configuration>