<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

      <display-name>Payment Cracker</display-name>

    <servlet>
        <servlet-name>ActionsControllerServlet</servlet-name>
        <servlet-class>com.utils.ui.site_files.ActionsControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActionsControllerServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>/WEB-INF/main_site/sign_in.jsp</welcome-file>
    </welcome-file-list>
</web-app>